<article>
    {{- if isset .Params "tags" -}}
        {{- $tagsLen := len .Params.tags -}}
        {{- if gt $tagsLen 0 -}}
    <div style="clear:both" class=taglist>
            tags:  
            {{- range $k, $v := .Params.tags -}}
            {{- $url := printf "tags/%s" (. | urlize | lower) -}}
            <a style="margin-left: .5rem;" id="tag_{{ . | lower }}" href="{{ $url | absURL }}">{{ . | title }}</a>
            {{- if lt $k (sub $tagsLen 1) }},{{ end -}}
            {{- end -}}
    </div>
        {{- end -}}
    {{- end }}
</article>
