{{ define "main" }}
    <div id="content">
    <aside id="sidebar">
        <div id="avatar">
            <!--adding the flower class gives it a cute shape!-->
            <img class="flower"
                 src="{{ .Site.Params.sidebar.icon.path }}"
                 alt="my icon!">
        </div>
        
        <div id="bio">
        {{ range .Site.Params.sidebar.bio }}
            <p>{{ . }}</p>
        {{ end }}
        </div>
        
        <div class="small-box">
            <ul>
            {{ range .Site.Params.sidebar.basic_info }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
        </div>
        
        <nav>
            <ul>
            {{ range .Site.Params.sidebar.links }}
                <li><a href="{{ .link }}">{{ .name }}</a></li>
            {{ end }}
            </ul>
        </nav>
    </aside>
    <main>
        <article id="top" class="clearfix">
            <section>
            <div class="img-right">
                <img src="{{ .Site.Params.welcome_header.image }}">
            </div>
            <h1>{{ .Site.Params.welcome_header.title }}</h1>
            {{ range .Site.Params.welcome_header.intro }}
                <p>{{ . }}</p>
            {{ end }}
            </section>
            <section>
            <h4>{{ .Site.Params.welcome_header.list.name }}</h4>
                <ul>
                {{ range .Site.Params.welcome_header.list.items }}
                    <li>{{ . }}</li>
                {{ end }}
                </ul>
            </section>
        </article>
    {{ $limit := .Site.Params.read_more.length_limit }}
    {{ range first 5 .Site.RegularPages }}
        <article>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ $tags := .Params.tags }}
            tags:
            {{ range $index, $tag := .Params.tags }}
            <a href="/tags/{{ $tag }}">{{ $tag }}</a>{{ if ne $index (sub ($tags | len) 1) }},{{ end }}
            {{ end }}
            <div class="post-header">
                @{{ .Params.author }} <span class="timestamp">{{ .Date.Format "02/01/2006" }}</span>
            </div>
            <p>{{ .Summary }}</p>
            {{ with .Params.title_images }}
            <div class="photosetx2">
                {{ range first 2 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
            <div class="post-content readmore">
                <div id="text-content">{{ ( .ContentWithoutSummary | safeHTML ) | truncate $limit }}</div>
                <div id="full-content" style="display: none;">{{ .ContentWithoutSummary | safeHTML }}</div>
                {{ if gt (len (.ContentWithoutSummary | safeHTML)) $limit }}
        <summary id="read-more-btn" onclick="toggleReadMore()" style="display: inline;">{{ .Site.Params.read_more.text.more }}</summary>
                {{ end }}
            </div>
            {{ with .Params.ending_images }}
            <div class="photosetx3">
                {{ range first 3 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
        </article>
    {{ end }}
    <script>
    function toggleReadMore() {
        var fullContent = document.getElementById("full-content");
        var btnText = document.getElementById("read-more-btn");
        var textContent = document.getElementById("text-content");

        if (fullContent.style.display === "none") {
            textContent.style.display = "none";
            fullContent.style.display = "inline";
            btnText.innerHTML = {{ .Site.Params.read_more.text.less }};
        } else {
            textContent.style.display = "inline";
            fullContent.style.display = "none";
            btnText.innerHTML = {{ .Site.Params.read_more.text.more }};
        }
    }
    </script>
{{ end }}
